#form-control-feedback {
	visibility: hidden;
}

.set-element-visible {
	visibility: visible;
}


.bordered-green {
    border: 1px solid #008000;
}

.bordered-red {
    border: 1px solid #FE0000;
}

#username-home {
	margin-right: 5px;
}

#password-home {
	margin-right: 5px;
}

#login-home {
	margin-right: 5px;
}

#signup-home {
	margin-right: 5px;
}

#top-row-container {
	margin-top: 14px;
}